:root {
  --speed_mult: 1.0;

  /* marquee time: (.217s / op * img_len * 2) */
  --trackA_speed: calc((.217s / 94 * 33112 * 2) / var(--speed_mult));
  --trackB_speed: calc((.217s / 170 * 14508 * 2) / var(--speed_mult));
  --trackC_speed: calc((.217s / 20 * 33112 * 2) / var(--speed_mult));
  --trackD_speed: calc((.217s / 76 * 14148 * 2) / var(--speed_mult));
}

body {
  margin: 0;
  padding: 0;
  background-color: #0d0f04;
}

.marquee {
  position: relative;
  width: 100vw;
  max-width: 100%;
  height: 100vh;
  overflow-x: hidden;
}

.track {
  position: absolute;
  white-space: nowrap;
  will-change: transform;
}

#trackA {
  top: 0vh;
  animation: marquee var(--trackA_speed) linear infinite;
}

#trackA img {
  height: calc(774vh/2160*100);
}

#trackB {
  top: calc(754vh/2160*100);
  animation: marquee var(--trackB_speed) linear infinite;
}

#trackB img {
  height: calc(351vh/2160*100);
}

#trackC {
  top: calc(1016vh/2160*100);
  animation: marquee var(--trackC_speed) linear infinite;
}

#trackC img {
  height: calc(774vh/2160*100);
}

#trackD {
  top: calc(1790vh/2160*100);
  animation: marquee var(--trackD_speed) linear infinite;
}

#trackD img {
  height: calc(342vh/2160*100);
}

@keyframes marquee {
  from { transform: translateX(0); }
  to { transform: translateX(-50%); }
}
