@font-face {
  font-family: 'HYWenHei';
  src: url('../res/HYWenHei-85W.ttf')  format('truetype');
}

:root {
  --speed: 0.1;
}

body {
  font-family: 'HYWenHei', Fallback, sans-serif;
  margin: 0;
  padding: 0;
  color: #e5d4be;
  background-color: #18180c;
}

.marquee {
  position: relative;
  width: 100vw;
  max-width: 100%;
  height: 100vh;
  overflow-x: hidden;
}

.trackA {
  position: absolute;
  top: -3vh;
  white-space: nowrap;
  will-change: transform;
  font-size: 30vh;
  animation: marquee calc(40s / var(--speed)) linear infinite;
}

.trackB {
  position: absolute;
  top: 33vh;
  white-space: nowrap;
  will-change: transform;
  font-size: 13vh;
  animation: marquee calc(5s / var(--speed)) linear infinite;
}

.trackC {
  position: absolute;
  top: 45vh;
  white-space: nowrap;
  will-change: transform;
  font-size: 30vh;
  animation: marquee calc(55s / var(--speed)) linear infinite;
}

.trackD {
  position: absolute;
  top: 82vh;
  white-space: nowrap;
  will-change: transform;
  font-size: 13vh;
  animation: marquee calc(8s / var(--speed)) linear infinite;
}

.ghostA {
  height: 28vh;
  transform: translateY(22.5%);
}

.ghostB {
  height: 28vh;
  transform: translateY(22.5%) scaleX(-1);
}

@keyframes marquee {
  from { transform: translateX(0); }
  to { transform: translateX(-50%); }
}
